[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
mypy = "*"
pylama = "*"
pylint = "*"

[packages]
confluent-kafka = "*"
redis = "*"
requests = "*"
schedule = "*"
config-loader = {editable = true,path = "./../../packages/config-loader"}
simple-server = {editable = true,path = "./../../packages/simple-server"}
thread-runner = {editable = true,path = "./../../packages/thread-runner"}

[requires]
python_version = "3.7"
